
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form{
  border: 2px solid;
  display:flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-color: red;
  border-radius:25px;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}


.post{
  border-radius: 25px;
  border: 2px solid;
  border-color: red;
  width: 200px;
  height: 150px;
  font-size: 14px;
}

.btn{
  border-radius: 250px;
  display: flex;
  flex-direction: column;
}