
.post{
  margin:1em;
  border:2px solid red;
  border-radius: 10px;
  width:300px;
  height: 100px;
  font-size: 14px;
  text-align: center;
  background-color: whitesmoke;
}
.delete-btn{
  margin-top: 33px;
  margin-left:217px;
  width:82px;
  color:white;
  background-color: #282c34;
  border-radius: 10px;
  border:1px solid red;
}



.form{
  display:flex;
  flex-direction: column;
  position: fixed;
   bottom: 0;
   margin-left: 40%;
}

.submit-btn, .text-area{
  border-radius: 10px;
  border: 2px solid;
  border-color: red;
  height: 20px;
  text-align: center;
  margin: 2px;
}